aiofiles
aiohttp
yt-dlp
pyromod
TgCrypto==1.2.5
pyrogram
xmltodict 
requests 
pycryptodomex
pywidevine>=1.7.0
pyrogram>=2.0.106
pyromod>=3.0.1
yt-dlp>=2023.11.16
aiohttp>=3.9.1
requests>=2.31.0
Pyromod
